<div id="burn" style="min-width: 310px; min-height: 500px; margin: 0 auto"></div>

<%content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    $(function () {
        var burn = []
        var actual = []
        
        <%- @sprint.total_points.downto(0) do |i| %>
          burn.push(<%= i %>);
        <% end %>

        <%-burn_number = @sprint.total_points%>
        actual.push(<%= @sprint.total_points %>)
        <%- @sprint.iterations.each do |i| %>
          <%-burn_number -= (i.points_completed || 1) %>
          actual.push(<%= burn_number %>);
        <% end %>
        
        <%-until burn_number <= 0 %>
          <%-burn_number -= 1 %>
          actual.push(<%= burn_number %>);
        <% end %>
        





        $('#burn').highcharts({
            chart: {
                type: 'line',
                backgroundColor: '#2D3E50'

            },

            credits: {
                enabled: false
            },

            legend: {
                enabled: false
            },
            title: {
                text: null
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                labels: {
                    y: 40,
                    style: { color: "#ffffff" }
                },
                lineColor: '',
                tickColor: '',
            },
            yAxis: {
                gridLineColor: 'rgba(0,0,0,.3)',
                tickInterval: 2,
                min: 0,
                //labels: {
                //    format: '{value}%'
                //},
                title: {
                    text: null
                },
                labels: {
                    x: -30,
                    style: {
                        color: "#ffffff"
                    }
                }

            },

            plotOptions: {


            },
            series: [

            {
                color: '#E64C66',
                name: 'Burndown',
                data: burn,
                lineWidth: 6,
                marker: {
                    enabled: false
                }
            }, {
                color: '#1BBC9B',
                name: 'Actual',
                data: actual,
                lineWidth: 6,
                marker: {
                    enabled: false
                }
            }]
        });
    });
  </script>
<% end %>
    
