.well
  =simple_form_for @sprint do |f|
    .row
      .col-xs-4
        =f.input :title, input_html: {class:"input-lg"}

      .col-xs-2
        =f.input :start_date, as: :string, input_html: {class:"input-lg datepicker"}

      .col-xs-2
        =f.input :total_points, input_html: {class:"input-lg"}, label: 'Days'
      .col-xs-2
        =f.input :icon, as: :select, :collection => {"Design" => "magic", "Code/Refactor/Tests" => "code", "Bugs" => 'bug', "Enhancements" => "flask", "Misc" => "bomb"}, input_html: {:class=>'input-lg'}

      .col-xs-2
        .form-group
          %br
          = f.submit class: 'btn btn-lg btn-danger'
