-content_for :page_title do
  =icon icon: 'pied-piper-alt', css_classes: 'red'
  Sprints, Sprints Everywhere!


-for sprint in @sprints
  %a{href: sprint_path(sprint), "data-no-turbolink" => true}
    .tabled-sprint.row.slabbed
      .col-xs-6
        %h1
          %span.red=icon icon: sprint.icon
          &nbsp;
          %span{:style => "color:#fff;"}=sprint.title
      .col-xs-3.text-right
        %h1
          %span.green=sprint.total_points_completed
          %span.light-blue /
          %span.red=sprint.total_points.to_f
      .col-xs-3
        %h1
          -if sprint.early?
            %span.green
              %span.thick-text Early!

          -elsif sprint.on_time?
            %span.green
              %span.thick-text On Time!
          -elsif sprint.late?
            %span.red
              %span.thick-text=sprint.actual_date.strftime(' %B %e')
