=content_for :page_title do

  =icon :icon => @sprint.icon, :css_classes => 'red'
  %span.rest-in-place{'data-url'=> sprint_path(@sprint),'data-object' => 'sprint', 'data-attribute' => 'title'}= @sprint.title

=content_for :side_panel do
  %h1 Hello

#burn-edit.hidden-print{style: "display:none;"}

  .row
    .col-xs-12
      .row
        -for iteration in @iterations
          .iteration.col-xs-2{class: iteration.panel_class}
            .iteration-date=iteration.date
            .panel
              .iteration-points-completed.rest-in-place{'data-url'=> sprint_iteration_path(@sprint, iteration),'data-object' => 'iteration', 'data-attribute' => 'points_completed'}=iteration.points_completed
      
.row#burn-show

  .col-xs-4
    %br
    %br
    %br
    %h2
      =icon icon: 'flag', css_classes: 'green'
      &nbsp;
      =@sprint.start_date.strftime('%A, %B %e')

    %h2
      =icon icon: 'flag-checkered', css_classes: 'red'
      &nbsp;
      =@sprint.burn_date.strftime('%A, %B %e')
    
    %br
    %br
    %h1{style: "font-size: 86px; "}
      %span.green=@sprint.total_points_completed
      %span.light-blue= "|"
      %span.red= @sprint.total_points.to_f
    %br
    %br
    %br
    %h2
      -if @sprint.on_time?
        %span.green
          %span.green{style: "font-size: 20px"} Boomtown!
          %br
          %span.thick-text On Time!
      -else
        %span.red
          %span.red{style: "font-size: 20px"} Oh Noes!
          %br
          %span.thick-text=@sprint.actual_date.strftime('%A, %B %e') 

        

  .col-xs-8

    .slabbed-thick
      .text-center
        %h1.red Feel the Burn
        %br
        =render 'burndown'