=content_for :page_title do

  %i.fa.fa-scissors.fa-flip-horizontal.red
  = @sprint.title

=content_for :side_panel do
  %h1 Hello


      
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt Start Date
      %dd=l @sprint.start_date
      %dt Total Points
      %dd= @sprint.total_points.to_f
      %dt Points Remaining
      %dd= @sprint.points_remaining
  .col-xs-8
    .text-center
      %h2
        =icon icon: "fire-extinguisher", css_classes: "green"
        %span.red Feel the Burn
      %br
    =render 'burndown'





%dl.dl-horizontal
  %dt=icon icon: 'pencil'
  %dd Design
  %dt= icon icon: 'code'
  %dd Code/Refactor/Tests
  %dt=icon icon: 'bug'
  %dd Bugs
  %dt=icon icon: 'flask'
  %dd Enchancement
  %dt=icon icon: 'bomb'
  %dd Misc