// Place all the styles related to the Iterations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@red: #E64C66;
@blue: #2D3E50;
@green: #1BBC9B;
@grey: #AEAEAE;

.iteration{
  text-align: center;
  .iteration-date {
    color: lighten(@blue, 60%);
    margin-bottom: 5px;
    }
    .panel {
      background-color: lighten(@blue,5);
      min-height: 100px;
      text-align:center;
      .iteration-points-completed {
        color: lighten(@blue,20);
        font-size: 60px;

        }
    }
}

.iteration.iteration-success {
  .panel{
    background-color: @green;
    .iteration-points-completed {
      color: #fff;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
  }
}

.iteration.iteration-failure {
  .panel{
    background-color: @red;
    .iteration-points-completed {
      color: #fff;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
  }
}